{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <br>
  <br>
  <title>KRISHIMITRA</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="{%static 'msc/index/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{%static 'css/index/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="{%static 'css/index/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/index/owl.theme.default.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/index/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/index/animate.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/index/modal-video.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{%static 'css/index/style.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>K</span>RISHIMITRA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">My Profile</a></li>
          <li><a href="#">Retailer</a></li>
          <li><a href="#features">Supplier</a></li>
          <li><a href="#pricing">Pricing</a></li>

          <li><a href="#">Weather</a></li>
          <li><a href="#">Soil labs</a></li>
          <li class="menu-has-children"><a href="">language</a>
            <ul>
              <li><a href="#">Hindi</a></li>
              <li><a href="#">Chhattisgarhi</a></li>
              <li><a href="#">Odia</a></li>
              <li><a href="#">Telgu</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Welcome to Krishimitra</h1>
      <h2>An elegant website which can be a farmer's most useful tool!</h2>
      <img src="{%static 'msc/index/hero-img.png'%}" alt="Hero Imgs">
      {%if user.is_authenticated%}
        <a href="{%url 'profile'%}" class="btn-get-started scrollto">View Profile</a>
      {%else%}
        <a href="{%url 'login'%}" class="btn-get-started scrollto">Login/Signup</a>
      {%endif%}
    </div>
  </section><!-- #hero -->

  <!--==========================
    Get Started Section
  ============================-->

  <!--==========================
    About Us Section
  ============================-->

  <!--==========================
    Features Section
  ============================-->

  <section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Amazing Features.</h2>
        <p class="separator">Providing All the tools required</p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Weather-sun-clouds-rain.svg" alt="img" class="img-fluid">
            <h4>Weather Forecast</h4>
            <p>Display minute by minute weather report.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="https://msg91.com/wp-content/uploads/2018/07/right-lang-1.svg" alt="img" class="img-fluid">
            <h4>Multi Language Support</h4>
            <p>Enabling to communicate without any difficulty.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="{%static 'msc/index/design-tool.svg'%}" alt="img" class="img-fluid">
            <h4>Easy to use</h4>
            <p>Light and simple to comprehend, making lives simpler.</p>
          </div>
        </div>




      </div>
    </div>
  </section>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark unique-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->

    <!-- Collapsible content -->
  </nav>
  <!--/.Navbar-->


  <!--==========================
    Screenshots Section
  ============================-->

  <!--==========================
    Video Section
  ============================-->

  <section id="video" class="text-center wow fadeInUp">
    <div class="overlay">
      <div class="container-fluid container-full">

        <div class="row">
          <a href="https://www.youtube.com/watch?v=FyOzeO6fQwI" class="js-modal-btn play-btn" data-video-id="FyOzeO6fQwI"></a>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Team Section
  ============================-->


  <!--==========================
    Testimonials Section
  ============================-->

  <section id="testimonials" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-8">

          <div class="testimonials-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner" role="listbox">

                <div class="carousel-item  active">
                  <div class="top-top">

                    <h2>What People Say</h2>
                    <p>I'm glad I've linked to several suppliers and sold me products at the best price directly to them In addition, it provides a very good forum for good exchange of agriculture within server groups and individuals.
</p>


                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>How they are benefitted</h2>
                    <p>The overall features are lovely! Yet customer support is what really makes the difference. Support from both pre and post sales is second to none. Extremely quick, friendly and knowledgeable. Everything I can recommend is Krishimitra .</p>


                  </div>
                </div>

                <div class="carousel-item ">
                  <div class="top-top">

                    <h2>Why people trust</h2>
                    <p>When we bought some crops and contacted support, the case had to be moved on to technical support, but within the day it was resolved. Very fast answers and excellent, but only here is the best quality and quantity. Highly recommended.</p>


                  </div>
                </div>

              </div>

              <div class="btm-btm">

                <ul class="list-unstyled carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Pricing Table Section
  ============================-->

  <!--==========================
    Blog Section
  ============================-->
  <section id="blog" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Latest posts</h2>
        <p class="separator">Pradhan Mantri Kisan Samman Nidhi (PM-KISAN) is a Central Sector scheme with 100% funding from Government of India.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="#"><img src="{%static 'msc/index/farmer_1.jpg'%}" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">Huge decrease of farmer suicides, with this new method.</a></h4>
              <span>12, july 2020</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="#"><img src="{%static 'msc/index/farmer_2.jpg'%}" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">Atal Kisaan Yojana: A gift for the farmers.</a></h4>
              <span>05, october 2020</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-blog text-left">
            <a href="#"><img src="{%static 'msc/index/drip.jpg'%}" class="img-responsive" alt="img"></a>
            <div class="content-blog">
              <h4><a href="#">A farmer's guide to start farming efficiently.</a></h4>
              <span>05, december 2020</span>
              <a class="pull-right readmore" href="#">read more</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
    Newsletter Section
  ============================-->
  <!-- <section id="newsletter" class="newsletter text-center wow fadeInUp">
    <div class="overlay padd-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <form class="form-inline" method="POST" action="#">

              <input type="email" class="form-control " placeholder="Email Adress" name="email">
              <button type="submit" class="btn btn-default"><i class="fa fa-location-arrow"></i>Subscribe</button>

            </form>

          </div>
        </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>


      </div>
    </div>
  </section> -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Contact</h2>
        <p class="separator">FOR HElPS AND FEEDBACK </p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>CG nagar nigam bhavan Raipur<br>Raipur, Chattishgarh</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p>krishimitra@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+91 9516251235</p>
            </div>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">Krishimitra</a>
            <p>If you have any queries or suggestions, please fill in the details below, and we will get in touch with you very soon.</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4></h4>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Top Features</h4>

            <ul class="list-unstyled">
              <li><a href="#">Weather Forecast</a></li>
              <li><a href="#">language Translation</a></li>
              <li><a href="#">Ad - policy</a></li>
              <li><a href="#">SMS Service</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights Krishimitra. All rights reserved.</p>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
          -->
        </div>
      </div>
    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="{%static 'js/profile/jquery.min.js'%}"></script>
  <script src="{%static 'js/profile/jquery-migrate.min.js'%}"></script>
  <script src="{%static 'js/profile/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'js/profile/hoverIntent.js'%}"></script>
  <script src="{%static 'js/profile/superfish.min.js'%}"></script>
  <script src="{%static 'js/profile/easing.min.js'%}"></script>
  <script src="{%static 'js/profile/modal-video.j'%}s"></script>
  <script src="{%static 'js/profile/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/profile/wow.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{%static 'js/profile/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{%static 'js/profile/main.js'%}"></script>

</body>
</html>
