{%extends 'profile/base.html'%}
{%block content%}
  <br>
  <br>
  <div class="container">
    <div class="section-title text-center">
      <h2>Weather Forecast</h2>
      <p class="separator">1 Week Weather Forecast</p>
    </div>
  </div>

<a class="weatherwidget-io" href="https://forecast7.com/en/21d2581d63/raipur/" data-label_1="RAIPUR" data-label_2="WEATHER" data-theme="original" >RAIPUR WEATHER</a><!--/ col-lg-3 -->

{%endblock%}

{%block script%}

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
{%endblock%}