{%extends 'profile_retailer/base.html'%}

{%block content%}
   <section id="pricing" class="padd-section text-center wow fadeInUp">

     <div class="container">
       <div class="section-title text-center">

         <h2>Shop's Profile</h2>
         <p class="separator">Edit your profile</p>

       </div>
     </div>

     <div class="container">
       <div class="row">

         <div class="col-md-6 col-lg-6">
           <div class="block-pricing">
             <div class="table">
               <!-- <h4></h4> -->
               <h2>Shop Details</h2>
               <ul class="list-unstyled">
                 <li><b>Crop</b>
                   <ul> <b>Paddy(Type):</b> 1600</ul>
                 </li>
                 <li><b>Livestock</b>
                  <ul>
                   <li>Cow: 12</li>
                   <li>Goat: 12</li>
                 </ul>
               </li>
               </ul>
               <div class="table_btn">
                 <a href="#" class="btn"> Edit</a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-md-6 col-lg-6">
           <div class="block-pricing">
             <div class="table">
               <h2>Personal Details</h2>
               <ul class="list-unstyled">
                 <li><b>Name of Shop</b> Ram</li>
                 <li><b>Mobile no:</b> 8280587611</li>
                 <li><b>Town/Village:</b> Thankhamhriya </li>
                 <li><b>District:</b> Bemetara </li>
                 <li><b>State: </b> Chattishgarh </li>
               </ul>
               <div class="table_btn">
                 <a href="#" class="btn">Edit</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

{%endblock%}
