{%extends 'profile/base.html'%}

{%block content%}
  <section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <br><br><br>
        <h2>Retailers</h2>
        <p class="separator">Retailers in your locality</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Retailer</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID1" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID1">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID2" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID2">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Retailer</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID3" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID3">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>



  <section id="pricing" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID4" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID4">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
      </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Retailer</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID5" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID5">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID6" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID6">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section id="pricing" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Retailer</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>Crop Product </b></li>
                <li><b>Product</b> Paddy(Type) </li>
                <li><b>Price</b> /kg</li>
                <li><a href="" data-toggle="collapse" data-target="#CollapseID7" aria-expanded="false" aria-controls="CollapseID"><b>Description</b></a>
                  <div class="collapse" id="CollapseID7">
                    A razor abbreviates a ballot near the obnoxious coverage. The witnessed abstract divides a receipt. A suggested craft retracts next to a diverse husband. The message freezes near the connector! The annual shutdown links the thick spokesman. A vocal ducks around the orchestra!
                  </div>
                <li>
                  <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                  </div>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>

  {%endblock%}