{%extends 'profile/base.html'%}

{%block content%}
  <section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <br><br><br>
        <h2>Supplier</h2>
        <p class="separator">Suppliers in your locality</p>

      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Supplier</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </section>



  <section id="pricing" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
      </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sai Farm Machine Supplier</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <h2>Sri Agricultural Irrigation tool</h2>
              <h4>Thankhamhriya, Bemetara</h4>
              <ul class="list-unstyled">
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <section id="pricing" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-4">
          <div class="block-pricing">
            <div class="table">
              <ul class="list-unstyled">
                <h2>Sri Agricultural Irrigation tool</h2>
                <h4>Thankhamhriya, Bemetara</h4>
                <li><b>2 HorsePower Motor</b> 5,000</li>
                <li><b>10 HorsePower Motor</b> 20,000 </li>
                <li><b>Irrigation Pipe</b> 300/meter </li>
                <li><b>Pesticide Sprinkler</b> 1500 </li>
                <li><b>Sprinkler</b> 4,500 </li>
                <li>
                  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </li>
              </ul>
              <div class="table_btn">
                <button href="#" class="btn">Chat</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

{%endblock%}