{%extends 'profile/base.html'%}
{%load static%}
{%block content%}

  <div class="container">
    <div class="section-title text-center">
      <br>
      <br>
      <br>
      <h2 style="font-size: 30px;"> <b>Milk Wholesale Price Index from June 2016 to May 2017</b></h2>
      <p class="separator">Wholesale price index comprises as far as possible all transactions at first point of bulk sale in the domestic market and released by Office of the Economic Advisor, M/o Commerce and Industries. The current series consists of 102 Primary Articles, 19 Fuel and Power items, and 555 Manufactured Products covering all important items transacted in the economy. The weighing diagram for the WPI series has been derived on the basis of Gross Value of Output. The price data are collected on a self-disclosure basis from individual private sector firms and official sources. National Sample Survey Office also facilitates collection of price data from organized manufacturing units. The current series of Wholesale Price Index has 2011-12 as Base Year.

Milk has a weightage of 4.43999 in Wholesale Price Index (WPI). The Wholesale Price Index of Milk increased from 133.4 in the month of June 2016 to 138 in the month of May 2017.  It has shown total increase of 4.6 point in Wholesale Price Index during the period from June 2016 to May 2017. However, there have been inter-month fluctuations in the Wholesale Price Index of Milk during this period; ranging from minimum of 133.4 points in the month of June 2016 to maximum of 138 points in the month of May 2017. The monthly average value of the Wholesale Price Index of Milk during this period was 135.28 points.</p>
<br>


<img src="{% static 'img/dairy.jpg'%}" alt="Hero Imgs">
    </div>
  </div>
{%endblock%}
