{%extends 'profile/base.html'%}
{%load static%}
{%block content%}
  <div class="container">
    <div class="section-title text-center">
      <br>
      <br>
      <br>
      <h2 style="font-size: 30px;"> <b> Rabi Crop-wise difference between MSP and Cost of Production from 2014-15 to 2017-18 </b></h2>
      <p class="separator">Crops namely Wheat, Barley, Gram, Masur (lentil), Rapeseed/mustard and Safflower were produced during Rabi season from 2014-15 to 2017-18. Difference between Minimum Support Price (MSP) and Cost of Production for Wheat crop was Rs. 706 per quintal during 2014-15. It has increased by 4.82% to Rs. 740 per quintal during 2015-16 over 2014-15. We have observed an increase of 10.87% in difference between MSP and Cost of Production for Wheat crop from Rs. 828 per quintal during 2016-17 to Rs. 918 per quintal during 2017-18. Difference between Minimum Support Price (MSP) and Cost of Production for Barley crop was Rs. 415 per quintal during 2014-15. It has increased by 8.19% to Rs. 449 per quintal during 2015-16 over 2014-15. Annual increase of 11% has been seen in difference between MSP and Cost of Production for Barley crop to Rs. 565 per quintal during 2017-18 versus Rs. 509 per quintal during 2016-17.

Difference between Minimum Support Price (MSP) and Cost of Production for Gram crop was Rs. 1273 per quintal during 2014-15. It has increased by 8.09% to Rs. 1376 per quintal during 2015-16 over 2014-15. We have seen an increase of 10.23% in difference between MSP and Cost of Production for Gram crop to Rs. 1939 per quintal during 2017-18 from Rs. 1759 per quintal during 2016-17. Difference between Minimum Support Price (MSP) and Cost of Production for Masur (lentil) crop was Rs. 1209 per quintal during 2014-15. It has increased by 14.56% to Rs. 1385 per quintal during 2015-16 over 2014-15. Annual increase of 6.08% has been observed in difference between MSP and Cost of Production for Masur (lentil) crop from Rs. 1776 per quintal during 2016-17 to Rs. 1884 per quintal during 2017-18.

Difference between Minimum Support Price (MSP) and Cost of Production for Rapeseed/mustard crop was Rs. 1648 per quintal during 2015-16, up by 3.26% versus Rs. 1596 per quintal during 2014-15. Annual increase of 2.62% has been seen in difference between MSP and Cost of Production for Rapeseed/mustard crop to Rs. 1877 per quintal during 2017-18 from Rs. 1829 per quintal during 2016-17. Difference between Minimum Support Price (MSP) and Cost of Production for Safflower crop was Rs. 25 per quintal during 2014-15. It has increased by 872% to Rs. 243 per quintal during 2015-16 over 2014-15. We have observed an increase of 49.77% in difference between MSP and Cost of Production for Safflower crop from Rs. 651 per quintal during 2016-17 to Rs. 975 per quintal during 2017-18.</p>
  <br>  
<img src="{% static 'img/rabi.jpg'%}" alt="Hero Imgs">

    </div>
  </div>

{%endblock%}